.proj-stack-container img{
    margin-bottom: 20px;
}

.project-box .card{
    min-width: 14rem;
    max-width: 18rem;
}

.project-level{
    border: 2px solid;
    border-radius: 10px;
}

.proj-section-heading{
    border: 2px solid;
    border-radius: 10px;
}